@use 'fonts';
@use 'colors';


h1 {
    @include fonts.h1;
}

h2 {
    @include fonts.h2;
}

h3 {
    @include fonts.h3;
}

h5 {
    @include fonts.h5;
}

.text {
    @include fonts.text;
}

button {
    width: 228px;
    height: 63px;
    background-color: colors.$color_blue;
    @include fonts.buttons_text;
    color: #ffffff;
    border: none;
}

.page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.page_header {
    width: 95%;
    height: 100%;
    min-height: 100vh;
    margin-top: 10px;
    background-image: url("/images/mountains.png");
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_container {
    width: 500px;
    height: 63px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.search_form {
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
}

.search_text {
    @include fonts.search_text;
    color: #999999;
    text-align: center;
    border: none;
    width: 100%;
}

.search_button {
    @include fonts.nav_text;
    height: 60px;
    width: 153px;
    background-color: colors.$color_blue;
    border: none;
    color: #ffffff;
    letter-spacing: 1.4px;
    // align-self: flex-end;
}

.header_text_scroll {
    @include fonts.search_text;
}

.page_navigation {
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    // justify-content: space-between;
    background-color: colors.$color_blue;
}

.nav_wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @include fonts.logo;
}

.navigation_list {
    display: flex;
    list-style: none;
    width: 525px;
    justify-content: space-between;
}

.list_item {
    @include fonts.nav_text;
}

.page_main {
    width: 95%;
}

section {
    width: 100%;
}

.section_why {
    background-image: url("/images/city.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 685px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.why_left {
    width: 30%;
}

.why_right {
    width: 30%;
    margin-left: 50px;
}

.image_mountain_small {
    align-self: flex-end;
}

.section_how {
    background-color: colors.$color_brown;
    width: 100%;
    min-height: 340px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.section_spain {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.spain_top {
    background-image: url("/images/house.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 700px;
}

.spain_top_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.spain_bottom {
    background-image: url("/images/cliff.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: row-reverse;
}

.spain_bottom_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.spain_textwrapper {
    width: 540px;
    height: 370px;
    background-color: colors.$color_dark;
    // margin: 30px;
}

.spain_content {
    margin: 30px;
}

.spain_button {
    margin-top: 46px;
}

.section_testimonial {
    background-image: url("/images/man_large.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 731px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial_wrapper {
    display: flex;
    width: 70%;
    max-height: 287px;
    height: 100%;
    margin-top: 50px;
}

.testimonial_wrapper_right {
    margin: 30px;
}

footer {
    background-color: colors.$color_dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 271px;
    height: 100%;
}

.footer_links {
    display: flex;
    min-width: 166px;
    justify-content: space-between;
}
