h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  font-family: "Aleo", serif;
  font-size: 36px;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
}

.header_h3 {
  margin-top: 0;
  margin-bottom: 48px;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

button {
  width: 228px;
  height: 63px;
  background-color: #5474FD;
  background-image: url(../images/button_background.png);
  font-family: "Aleo", serif;
  font-size: 16px;
  color: #ffffff;
  border: none;
}

button:hover {
  background-color: #333333;
  background-image: none;
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.page_header {
  width: 95%;
  height: 100%;
  min-height: 100vh;
  margin-top: 10px;
  background-image: url("../images/mountains.png");
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_container {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  height: 63px;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.search_form {
  display: flex;
  height: 100%;
}

.search_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  text-align: center;
  border: none;
  width: 100%;
}

.search_button {
  font-family: "Aleo", serif;
  font-size: 14px;
  height: 50px;
  width: 153px;
  background-color: #5474FD;
  border: none;
  color: #ffffff;
  letter-spacing: 1.4px;
  background-image: url("../images/search-solid.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 16px;
  align-self: center;
  margin-right: 5px;
}

.header_text_scroll {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}

.page_navigation {
  width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #5474FD;
}

.nav_wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.navigation_list {
  display: flex;
  list-style: none;
  max-width: 525px;
  width: 100%;
  justify-content: space-between;
}

.navigation_list a {
  text-decoration: none;
  color: #ffffff;
}

.navigation_list a:hover {
  text-decoration: none;
  color: #232323;
}

.navigation_list .icon_burger {
  display: none;
  text-decoration: none;
  color: #ffffff;
}

.page_main {
  width: 95%;
}

section {
  width: 100%;
}

.section_why {
  background-image: url("../images/city.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 685px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.why_content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why_left {
  width: 40%;
}

.text_why {
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 46px;
}

.why_right {
  width: 40%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.image_lake {
  min-width: 280px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
}

.image_mountain_small {
  min-width: 280px;
  max-width: 350px;
  width: 100%;
  align-self: flex-end;
}

.svg_why {
  max-width: 1046px;
  min-width: 300px;
  width: 100%;
}

.image_mountain_small {
  align-self: flex-end;
}

.section_how {
  background-color: #333333;
  width: 100%;
  min-height: 340px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.section_spain {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.spain_top {
  background-image: url("../images/house.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 700px;
  display: flex;
  align-items: flex-end;
}

.spain_top_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.spain_bottom {
  background-image: url("../images/cliff.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.spain_bottom_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.spain_textwrapper {
  width: 540px;
  min-height: 370px;
  max-height: 400px;
  background-color: rgba(35, 35, 35, 0.9);
}

.spain_content {
  margin: 30px;
}

.spain_button {
  margin-top: 46px;
}

.section_testimonial {
  background-image: url("../images/man_large.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 731px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial_wrapper {
  display: flex;
  width: 70%;
  min-height: 287px;
  max-height: 900px;
  height: 100%;
  margin-top: 50px;
}

.testimonial_wrapper_left {
  max-height: 284px;
  max-width: 445px;
}

.testimonial_wrapper_right {
  padding: 0 30px 0 30px;
  background-color: #333333;
}

footer {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 271px;
  height: 100%;
}

.footer_links {
  display: flex;
  min-width: 166px;
  justify-content: space-between;
}

.text_link a {
  color: #ffffff;
  text-decoration: none;
}

.text_link a:visited {
  color: #ffffff;
  text-decoration: none;
}

.text_link a:hover {
  color: #5474FD;
  text-decoration: none;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: blue;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 1024px) {
  .spain_top_left {
    width: 100%;
  }

  .spain_bottom_right {
    width: 100%;
  }

  .testimonial_wrapper {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .section_why {
    flex-direction: column;
  }

  .why_content {
    flex-direction: column;
    width: 95%;
  }

  .why_header {
    text-align: center;
  }

  .why_left {
    width: 100%;
  }

  .why_right {
    width: 100%;
    margin-left: 0;
  }

  .image_lake {
    margin-top: 20px;
  }

  .image_manmountain {
    max-width: 300px;
  }

  .navigation_list a {
    display: none;
  }

  .navigation_list a.icon_burger {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
